.home_data{
    margin-left: 35%;
    padding-top: 30%;
    font-size: 30px;
}

.home_button{
    background-color: cornflowerblue;
    margin-left: 44%;
    font-size: 20px;
    border-radius: 30px;
}
