body {
  display:grid;
  place-items: center;
  min-height: 100vh;
  
  }
.body__addPlayer{
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
